.Rproj.user
.Rhistory
.RData
.Ruserdata

*.Rproj

# Cache and figures
*cache/*
*files/*


# Ignore macOS system files
.DS_Store
**/.DS_Store

# Ignore .tex created by code
murre_data_summary.tex
murre_par_est.tex
gull_data_summary.tex

